.App {
  text-align: center;
}
/* ======== FRONT PAGE ======== */
.Welcome {
  text-align: center;
}

.Search {
  width: 70%;
  display: inline-block;
}


/* ABOUT */
.AboutUs {
  text-align: center;
}


/* ======== NAV BAR ======== */
.NavBar {
  
  text-align: center;
  font-size: 15px;
  margin-top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a366ff;
}

.Home, .Categories{
  float: left;
}

.Sell, .Profile, .About{
  float: right;
}

li a.Home, li a.Categories, li a.About, li a.Profile, li a.Sell {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

li a.Home:hover, li a.Categories:hover, li a.About:hover, li a.Profile:hover, li a.Sell:hover{
background-color: white;
}

.Dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.Dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

li.cats:hover .Dropdown-content a{
  display: block;
}

/* ======== ERROR PAGE ======== */
.Error{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}